<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>TODO App</title>
    </head>
    <body>
      <section class="section">
        <div class="container">
              <div id="app" class="columns"></div>
        </div>
      </section>
    </body>
    <script src="{% static "frontend/main.js" %}"></script>
    <link rel="stylesheet" type="text/css" href='{% static "/frontend/style.css" %}'
</html>